<template>
	<view>
		<SearchCom></SearchCom>
	</view>
</template>
<script>
	export default {
		data() {
			return {

			}
		},
		methods: {

		},
		mounted() {
			console.log(1);
		}
	}
</script>

<style>

</style>
